body {
      font-family: "Poppins", sans-serif;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      gap: 50px;
    }

    .signupContainer,
    .loginContainer {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      width: 300px;
      text-align: center;
    }

    h1 {
      color: brown;
      margin-bottom: 20px;
    }

    form input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: rgb(17, 26, 66);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    p a {
      color: #007BFF;
      text-decoration: none;
    }